@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
  }
}
 
@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  :root {
    --nextui-divider: 240 10% 3.9%;
  }

  .dark {
    --nextui-divider: 0 0% 98%;
  }
}