@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
  }
 
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
  }
}
 
@layer base {
  body {
    @apply bg-background text-foreground;
  }
}

@layer utilities {
  :root {
    --nextui-divider: 240 10% 3.9%;
  }

  .dark {
    --nextui-divider: 0 0% 98%;
  }
}